<!DOCTYPE html>

<html lang="en">
		<head>
				<title>Vocabulary Quiz</title>
				<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
				{% block head %}{% endblock %}
		</head>
		<body>
				<h1>Vocabulary Quiz</h1>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<div class="flashed-message">
								{% for message in messages %}
									<p>{{message}}</p>
								{% endfor %}
							</div>
						{% endif %}
					{% endwith %}
				{% block body %}{% endblock %}
		</body>
</html>
